.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
  }
  .record {
  background-color: #4a8df0de;
  border-radius:4.39px;
    height:80px;
    overflow: hidden;
    width: 163px;
}
  .menu-item {
    background-color: #f0f0f0;
    border: none;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .menu-item.selected {
    background-color: #4a90e2;
    color: #fff;
  }


  .card-item{
    background-color: #4a8df0de;
    border-radius:4.39px;
    height:80px;
    overflow: hidden;
    width: 163px;
}

.card-item .card-rate{
    height: 6px;
    left:27px;
    position: relative;
    top:23px;
    width: 18px;
}

.card-item .element{
    color: #000000;
    font-family: "Inter-Reqular", Helvetica;
    font-size: 5.2px;
    font-weight:400;
    left:0;
    letter-spacing: 0;
    line-height:normal;
    position: absolute;
    top:0;
    white-space: nowrap;
}